  @keyframes tearOpen {
    0% {
      transform: scaleY(0);
    }
    50% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(70);
    }
  }
  
  @keyframes spreadAndFadeOut {
    0% {
      transform: scaleY(0);
      width: 1px;
      height: 100vh;
      left: 50%;
    }
    100% {
      width: 100vw;
      left: 0;
      transform: scaleY(100);
      opacity: 0;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .shakingLine {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 10px;
    background-color: white;
    transform: translate(-50%, -50%);
    animation: tearOpen 2s ease-in-out forwards, spreadAndFadeOut 1s 2s forwards;
    transform-origin: center center;
  }
  
  .pageContent {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 2.9s;
  }
  
  .section {
    opacity: 0;
    transition: opacity 1s ease-out;
  }
  
  .section.visible {
    opacity: 1;
  }
  
  .pageContent {
    transition: opacity 0.5s ease-in-out;
  }
/* 
  @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  
  .animateRotate {
    animation: rotate 10s linear infinite; 
  } */

  @media (max-width: 350px){

   @keyframes tearOpen {
    0% {
      transform: scaleY(0);
    }
    50% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(50);
    }
  }
  }

  @media (min-width: 351px) and (max-width: 700px){

    @keyframes tearOpen {
     0% {
       transform: scaleY(0);
     }
     50% {
       transform: scaleY(1);
     }
     100% {
       transform: scaleY(60);
     }
   }
   }
  