
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  
  .animateRotate {
    animation: rotate 10s linear infinite; 
  }

  @media (min-width:1024px) and (max-width: 1099px){
    
  .circ{
    width: 10.5rem;
    height: 10.5rem;
  }
    .arr{
      font-size: 18px;
    }
    tspan{
      font-size: 15px;
    }
  }
