/* @keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.animateRotate {
  animation: rotate 10s linear infinite; 
} */



.first {
  color: transparent;
  -webkit-text-stroke: 2px  #ca8a04 ;
  position: absolute;
 
  
}

.second {
  color:  #ca8a04 ;
  -webkit-text-stroke: 2px  #ca8a04 ;
  animation: waves 4s ease-in-out infinite;
  position: absolute;

}

@keyframes waves {
  0%, 100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

@media (min-width:1024px) and (max-width: 1099px){
  .boxIntro{
    width: 15rem;
    left: 10px;
  
    top: 25px;
  }
  .myLogo{
    width: 6rem;
  }
  .myFoto{
    width: 10rem;
    height: 10rem;
  }
  .myText{
    font-size: 15px;
  }
  .copy{
    font-size: 9px;
  }

  .connect{
    width: 35px;
    height: 35px;
  }
  .butn{
    margin-top: 40px;
  }

  .name{
    font-size: 50px;
    margin-left: 5rem;
  }

  .introduce {
   margin-right: 15rem;
  }

  .ctn{
    font-size: 50px;
  }
  .yrs{
    font-size: 15px;
  }
  .mainBox{
    margin-top: 11rem;
  }
}

@media (min-width:1100px) and (max-width: 1279px){
  .boxIntro{
    width: 18rem;

    left: 10px;
    top: 25px;
  }
  .myLogo{
    width: 6rem;
  }
  .myFoto{
    width: 10rem;
    height: 10rem;
  }
  .myText{
    font-size: 15px;
  }
  .copy{
    font-size: 9px;
  }

  .connect{
    width: 35px;
    height: 35px;
  }
  .butn{
    margin-top: 40px;
  }

  .name{
    font-size: 50px;
    margin-left: 5rem;
  }

  .introduce {
   margin-right: 15rem;
  }

  .ctn{
    font-size: 50px;
  }
  .yrs{
    font-size: 15px;
  }
  .mainBox{
    margin-top: 11rem;
  }
}

